<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Test Google Calendar Events</h1>
<table>
  <thead>
  <tr>
    <th>Actions:</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a th:href="${call.meetLink}" th:target="_blank">Meeting Page</a></td>
    <td><a th:href="@{/endCall(callId=${call.callId})}">End Session</a></td>
  </tr>
  </tbody>
</table>

</body>
</html>