<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Test Google Calendar Events</h1>
<table>
  <thead>
  <tr>
    <th>Id:</th>
    <th>Status:</th>
    <th>Action:</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item: ${queue}">
    <td th:text="${item.callId}"></td>
    <td th:text="${item.status}"></td>
    <td><a th:href="@{/startCall(callId=${item.callId})}">Call</a></td>
  </tr>
  </tbody>
</table>

</body>
</html>